.bar rect {
    fill: #006064;
  }
  .bar rect:hover{
      z-index: 100;
  }
  svg circle{
      fill: #006064;
  }
  
  .bar text {
    fill: #fff;
    font: 10px sans-serif;
  }
  .bar { fill: steelblue; }
  .bar:hover{
      fill: #bbdefb;
      z-index: 10;
  }
  .bar rect:hover{
      fill:steelblue;
      z-index: 10;
  }
  svg{
      float: left;
      border: 2px outset;
      margin: 5px;
  }
  svg>#text{
      font-size: 22px;
      text-decoration: underline;
      font-weight: bold;
      opacity: .75;
      fill:black; 
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }
  #bar-text{
      font-size: 22px;
      font-weight: bold;
      opacity: .90;
      fill: black;
      text-decoration: underline;
  }
  .stats-text{
      text-align: right;
      font-weight: 550;
      opacity: .85;
  }
  #bar-wrapper{
      clear: both;
  }
  #scatterplot-wrapper{
      clear:both;
  }
  .scatterplot-text{
      font-size: 22px;
      text-decoration: underline;
      font-weight: 550;
      fill: black;
      opacity: .85;
  }
  .x-title{
      fill: #006064;
      font-size: 20px;
      opacity: .90;
      text-align: right;
  }
  .y-title{
      fill: #006064;
      font-size: 20px;
  }