.bar rect {
    fill: steelblue;
  }
  
  .bar text {
    fill: #fff;
    font: 10px sans-serif;
  }
  svg{
      float: left;
      border: 2px outset;
      margin: 5px;

  }
  svg>#text{
      font-size: 16px;
      text-decoration: underline;
      font-weight: bold;
      opacity: .75;
      fill:black; 
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }